.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

@media (max-width: 992px) {
  .container {
    max-width: 788px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 44px;
}
.header__logo {
  color: rgba(36, 77, 77, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.header-nav__list {
  gap: 50px;
  justify-content: space-between;
  display: flex;
}
.list__item a {
  color: rgba(22, 22, 22, 1);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.about__company__wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 27px;
  justify-content: space-between;
}

.img_about_company {
  flex: 0 0 411px;
  width: 100%;
  background: url(./Rectangle\ 91.jpg);
}

.Text {
  padding: 101px 18px 137px 100px;
  flex-shrink: 1;
  background: rgba(21, 68, 68, 1);
}

.about__company__title {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}

.par1 {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px auto 0;
}
.explore_more {
  margin-top: 35px;
  color: rgba(21, 68, 68, 1);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  margin-top: 35px;
  align-self: flex-start;
  padding: 16px 26px;
}
.partner {
  margin-top: 70px;
}
.partner__wrapper {
  padding: 0 50px;
}
.partner__title {
  color: rgba(36, 77, 77, 1);
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.partner_list {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
  gap: 20px;
  flex-wrap: wrap;
}

.about__as__wrapper {
  display: flex;
  flex-direction: row;
  margin: 140px 0 0 0;
}
.about_us_img {
  max-width: 632px;
}

.img__about__us {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.text__about__us {
  padding: 47px 0 49px;
  margin-left: 100px;
}

@media (max-width: 992px) {
  .about__as__wrapper {
    flex-direction: column;
  }
}

.list_about_us {
  gap: 20px;
}

.about__us__title {
  color: rgba(36, 77, 77, 1);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 29px 20px 0;
}
.par2 {
  color: rgba(68, 68, 68, 1);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 0 40px 0;
}

.title__h3 {
  color: rgba(36, 77, 77, 1);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 177px 14px 0;
}
.par3 {
  color: rgba(56, 55, 56, 1);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 0 30px 0;
}

.value {
  display: flex;
  flex-direction: column;
}
.values_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.img3 {
  padding: 0 28px 42px 0;
}
.popular__furniture__title {
  color: rgba(36, 36, 36, 1);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.par4 {
  color: rgba(56, 55, 56, 1);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 820px;
}
.popular__furniture__wrapper__text {
  margin-bottom: 80px;
}

.cards_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card__furniture {
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  flex: 1 1 380px;
}
.name_product {
  color: rgba(36, 36, 36, 1);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.grow {
  width: 100%;
}
.costs {
  color: rgba(21, 68, 68, 1);
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.buy_now {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 6px 15px;
  background-color: rgba(36, 77, 77, 1);
}

.popular__furniture__wrapper {
  margin: 70px 0;
}

.popular__furniture__wrapper__text {
  margin-bottom: 40px;
}
.cl_3 {
  display: flex;
  flex-direction: column;
  padding: 30px 24px 26px 24px;
}
.cl_1 {
  display: flex;
  flex-direction: row;
  margin: 0 0 21px 0;
  justify-content: space-between;
}
.cl_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cl {
  display: flex;
  gap: 0 8px;
}
.like {
  border-radius: 50%;
  background: rgba(236, 244, 255, 1);
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.follow {
  border-radius: 50%;
  background: rgba(236, 244, 255, 1);
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.all__furniture__title {
  color: rgba(36, 36, 36, 1);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 20px 0;
}
.all__furniture__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 101px;
  margin: 0 0 80px 0;
  flex-wrap: wrap;
}
.al__values p {
  color: rgba(145, 144, 144, 1);

  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.al__values {
  position: relative;
}
.activiti::before {
  display: block;
  position: absolute;
  width: 57px;
  height: 2px;
  background: rgba(21, 68, 68, 1);
  content: "";
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.activiti p {
  color: rgba(21, 68, 68, 1);
}

@media (max-width: 992px) {
  .container {
    max-width: 788px;
  }
}

.al__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.all__block__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.al__rooms {
  display: flex;
  flex-wrap: wrap;
  gap: 33px 30px;
  flex: 0 0 494px;
}
.room:hover {
  background-color: rgba(21, 68, 68, 1);
}
.room:hover svg path {
  fill: #ffffff;
}
.room {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgba(217, 220, 229, 1);
  padding: 16px 0px;
  flex-direction: column;
  width: 100%;
  max-width: 222px;
  gap: 14px;
}
.room img {
  max-width: 24px;
  max-height: 24px;
}
.text__room {
  color: rgba(128, 128, 128, 1);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 992px) {
  .customers {
    margin-top: 140px;
  }
}

.customers {
  margin-top: 140px;
}

@media (max-width: 992px) {
  .customers__wrapper {
    flex-direction: column;
    align-items: stretch;
  }
}

.customers__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* .customers__wrapper {
  display: flex;
  flex-direction: row;
  margin: 140px 0 0 0;
} */

/* .text__customers {
  display: flex;
  flex-direction: column;
  padding: 105px 0 196px 101px;
} */

@media (max-width: 992px) {
  .text__customers {
    flex: initial;
  }
}
.customers__title {
  color: rgba(36, 36, 36, 1);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 20px 0;
}
.par6 {
  color: rgba(56, 55, 56, 1);

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 40px 0;
}
.par7 {
  color: rgba(0, 0, 0, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
.person {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.str {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 10px;
}

.star {
  max-width: 16px;
  margin: 0 8px 0 0;
}
.str1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.elements {
  padding: 0 0 56px 0;
}

.subscribe {
  margin-top: 140px;
}

@media (max-width: 992px) {
  .subscribe {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 788px;
  }
}

.subscribe__wrapper {
  background: #f4f6f6;
  padding: 68px 20px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscribe_title {
  padding: 0 298px 20px 298px;
  color: rgba(34, 34, 34, 1);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.par8 {
  color: #222;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
  max-width: 493px;
  /*  margin: 20px 354px 40px 354px; */
}

.subscribe_form {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #bababa;
  
}

.reg {
  display: flex;
  border: 1px solid #ffffff;
  padding: 7px 20px 8px 18px;
  background: rgba(255, 255, 255, 1);
}

.impt {
  flex-grow: 1;
  background: rgba(255, 255, 255, 1);
  color: rgba(186, 186, 186, 1);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.regs {
  background: rgba(48, 95, 100, 1);

  cursor: pointer;
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px 32px 15px 31px;
}

.post {
  margin: 0 12px 0 0;
}

.footer__wrapper {
  padding: 100px 0 0 0;
  max-width: 100%;
}

.footer {
  background: #305f64;
  margin-top: 140px;
}

.columns_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col1 {
  flex-direction: column;
  max-width: 308px;
  flex: 0 1 358px;
  padding-right: 50px;
}
.footer__title1 {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
}
.par9 {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  padding: 24px 0px 40px 0;
}
.footer_title2 {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  display: flex;
  flex-wrap: nowrap;
}
.soc {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  padding: 20px 0 20px 0;
}
.app {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app1 {
  background-color: #305f64;
}
.app__icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.col2 {
  display: flex;
  flex-direction: column;
  padding: 0 100px 20px 0;
}
.val_col {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.list_co2 {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.footer_title3 {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  margin: 0 0 20px 0;
  flex-wrap: nowrap;
}
.footer_title4 {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.col3 {
  display: flex;
  flex-direction: column;
  padding: 0 109px 20px 0;
}
.list_co3 {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.col4 {
  max-width: 254px;
}
.par10 {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin: 23px 0 40px 0;
}
.address {
  color: rgba(133, 147, 149, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin: 14px 0 13px 22px;
}
.input__1 {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  align-items: center;
}
.send {
  display: flex;
  border-radius: 50%;
  background: rgba(255, 182, 36, 1);
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
}
.arrow {
  width: 16px;
  height: 16px;
}
.par11 {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: center;
}

.row5 {
  padding: 20px 0 20px 0;
  border-top: 1px solid rgba(64, 121, 128, 1);
}

.igm_header_nav {
  display: none;
  width: 24px;
  height: 24px;
}

.footer {
  margin-top: 140px;
}


/* Параметры для мобильной версии */

@media (max-width: 992px) {
  .Text {
    padding: 50px 20px 50px 20px;
    text-align: center;
  }

  .img_about_company {
    display: none;
  }

  .al__block {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .subscribe_title {
    padding: 50px 20px 50px 20px;
    text-align: center;
  }
  .footer {
    margin-top: 70px;
  }

  .footer__wrapper {
    gap: 40px;
    padding-top: 40px;
  }
  .container {
    max-width: 788px;
  }

  .img1 {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .igm_header_nav {
    display: block;
  }
}
